h2 {
  text-align: center;
  margin-top: 10vh;
  font-size: 36px;
  text-transform: uppercase;
  mix-blend-mode: multiply;
  color: #666;
  padding-left: 120px;
  padding-right: 20px;
}

p {
  mix-blend-mode: multiply;
  font-size: 18px;
  color: #666;
  padding-left: 120px;
  padding-right: 20px;
  text-align: center;
}

a {
  color: #333;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 1;
  -webkit-clip-path: circle(0 at 50% 50%);
  transition: -webkit-clip-path 0s ease-in .4s;
  
  &.blue-section {
    background-color: #6666dd;
  }
  
  &.red-section {
    background-color: #dd6666;
  }
  
  &.green-section {
    background-color: #33dd33;
  }
  
  &.yellow-section {
    background-color: #dddd33;
  }
  
  &.white-section {
     -webkit-clip-path: none;
  }
  
  &.in {
    transition: -webkit-clip-path .4s ease-in;
    z-index: 3;
  }
  
  &.transition {
    transition: none;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 4;
  
  a {
    width: 100px;
    background: #ccc;
    display: block;
    height: 25%;
    border-top: 1px solid #999;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
    font-weight: 700;
    text-decoration: none;
    line-height: 25vh;
    opacity: .9;
    
    &[data-toggle="blue"].in {
      color: #6666dd;
    }
    
    &[data-toggle="red"].in {
      color: #dd6666;
    }
    
    &[data-toggle="green"].in {
      color: #119911;
    }
    
    &[data-toggle="yellow"].in {
      color: #999933;
    }
  }
}
